#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to 'Enter', new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      %h2 Organize
      %p Placerat diam imperdiet. Nec wisi felis gravida vitae semper. Quam pellentesque velit. Nec libero torquent urna dictum dolor. Vivamus a eu in sit ornare est sapien suspendisse scelerisque in lectus. Mauris fringilla qui. Blandit lorem mi in hymenaeos justo natoque.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to 'Join Now', new_user_registration_path
